<table style="width:100%">
    <tr>
        <th>Old Name</th>
        <th>New Name</th>
        <th>Comment</th>
    </tr>
    <% if (oldNames != null) { %>
        <form class="" action="/newData" method="POST">
            <% oldNames.forEach(function(name) { %>
                <tr>
                    <td><%= name %></td>
                    <td><input type="text" name="newName"></td>
                    <td><input type="text" name="comment"></td>
                </tr>
             <% }); %> 
             <div class="btn-container--row btn-align--center">
                <button class="btn button__btn btn--contained btn--primary-2" onclick="readFile()">
                    Submit
                </button>
            </div>
        </form>
    <% } %>
</table>

