<table style="width:100%">
    <tr>
        <th><%= data %>...</th>
        <th>New Name</th>
        <th>Comment</th>
    </tr>
    <tr>
        <td>front</td>
        <td>FRONT</td>
        <td>CUT(2) SELF</td>
    </tr>
    <tr>
        <td>bck</td>
        <td>BACK</td>
        <td>CUT(1) SELF</td>
    </tr>
    <tr>
        <td>tpslv</td>
        <td>TOP_SLV</td>
        <td>CUT(2) SELF</td>
    </tr>
    <tr>
        <td>undslv</td>
        <td>UND_SLV</td>
        <td>CUT(2) SELF</td>
    </tr>
</table>

<div class="btn-container--row btn-align--center">
    <button class="btn button__btn btn--contained btn--primary-2" onclick="readFile()">
        Submit
    </button>
</div>