<div class="container__file-upload">
    <div>
        Select DXF file to edit.
    </div>
    <div class="btn-container--row btn-align--center">
        <button class="btn button__btn btn--outlined btn--primary" onclick="readFile()">
            Upload
        </button>
    </div>
</div>
 <script src="/javascripts/fileUpload.js"></script>