<div class="container__file-upload">
    <div>
        Select DXF file to edit.
    </div>
    <form action="/file" method="POST">
        <input type="text" name="input">
        <div class="btn-container--row btn-align--center">
            <button class="btn button__btn btn--outlined btn--primary" type="submit" onclick="readFile()">
                Upload
            </button>
        </div>
    </form>
    
</div>
 <script src="/javascripts/fileUpload.js"></script>