<header>
    <div class="logo-container">
        <a href="/" class="body_2">
            <div class="heading_5">
                NAMER
            </div>
        </a>
    </div>
    <nav>
        <ul>
            <li>
                <a href="/pages/home" class="navHome mainNav body_2">NAME IT</a>
                <div id="hamburgerLine" class="hamburger-line"></div>
                <div class="hamburger-line2"></div>
            </li>
                <li>
                    <a href="/pages/about" class="mainNav body_2">HOW TO</a>
                    <div id="hamburgerLine" class="hamburger-line"></div>
                    <div class="hamburger-line2"></div>
                </li>
                <li>
                    <a href="/events/newUserNew" class="mainNav body_2">MY FILES</a>
                    <div id="hamburgerLine" class="hamburger-line"></div>
                    <div class="hamburger-line2"></div>
                </li>
            <%# if (locals.role && locals.role != "none")  { %>
                <!-- <li>
                    <a href="/portal" class="navPortal mainNav body_2">PORTAL</a>
                    <div id="hamburgerLine" class="hamburger-line"></div>
                    <div class="hamburger-line2"></div>
                </li> -->
            <%# } %>
    </nav>
    <!-- <div class="mini-menu-container btn button__btn btn--text btn--default-light" onclick="showMiniMenu()">MENU</div> -->
</header>
 <!-- <script src="/javascripts/navigation.js"></script> -->