h1 {
    font-size: 24px;
    font-weight: 400;
  }
  h2 {
    font-size: 55px;
    font-weight: bold;
  }
  h3 {
    font-size: 25px;
    font-weight: 400;
  }
  h4 {
    font-size: 16px;
    font-weight: normal;
  }
  h5 {
    font-size: 14px;
    font-weight: 500;
  }
  h6 {
    font-size: 11px;
    font-weight: 200;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  .h1,
  .h2,
  .h3,
  .h4,
  .h5,
  .h6 {
    color: var(--main-color-root);
    font-family: var(--main-font);
  }
  
  /*
  font-weight: bold; //extra bold
  font-weight: 600; //bold
  font-weight: 500; //medium
  font-weight: normal; //regular
  font-weight: 300;  // light
  */
  .heading_1 {
    font-weight: var(--font-weight-light);
    font-size: 96px;
    text-transform: none;
    letter-spacing: -1.5px;
  }
  .heading_2 {
    font-weight: var(--font-weight-light);
    font-size: 60px;
    text-transform: none;
    letter-spacing: -0.5px;
  }
  .heading_3 {
    font-weight: var(--font-weight-regular);
    font-size: 48px;
    text-transform: none;
    letter-spacing: 0px;
  }
  .heading_4 {
    font-weight: var(--font-weight-regular);
    font-size: 34px;
    text-transform: none;
    letter-spacing: 0.25px;
  }
  .heading_5 {
    font-weight: var(--font-weight-regular);
    font-size: 24px;
    text-transform: none;
    letter-spacing: 0px;
  }
  .heading_6 {
    font-weight: var(--font-weight-medium);
    font-size: 20px;
    text-transform: none;
    letter-spacing: 0.15px;
  }
  .subtitle_1 {
    font-weight: var(--font-weight-regular);
    font-size: 16px;
    text-transform: none;
    letter-spacing: 0.15px;
  }
  .subtitle_2 {
    font-weight: var(--font-weight-medium);
    font-size: 14px;
    text-transform: none;
    letter-spacing: 0.1px;
  }
  .body_1 {
    font-weight: var(--font-weight-regular);
    font-size: 16px;
    text-transform: none;
    letter-spacing: 0.5px;
  }
  .body_2 {
    font-weight: var(--font-weight-regular);
    font-size: 14px;
    text-transform: none;
    letter-spacing: 0.25px;
  }
  .btn {
    font-weight: var(--font-weight-bold);
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 1.25px;
  }
  .btn-min {
    font-weight: var(--font-weight-bolder);
    font-size: 8px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
  }
  .caption {
    font-weight: var(--font-weight-regular);
    font-size: 12px;
    text-transform: none;
    letter-spacing: 0.4px;
  }
  .overline {
    font-weight: var(--font-weight-regular);
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
  }
  .data {
    font-weight: var(--font-weight-regular);
    font-size: 12px;
    text-transform: none;
    letter-spacing: 0px;
  }